/* general responsive styling across all potential screen sizes */

@media screen and (max-width: 1920px) {
    .notice_heading lord-icon {
        width: 50px;
    }
}

@media screen and (max-width: 1280px) {
    form {
        width: 80%;
    }

    .formFields {
        width: 100%;
    }

    .portfolio_item {
        grid-template-columns: 1.5fr 2fr;
    }

    .portfolio_piece {
        width: 90%;
    }
}

@media screen and (max-width: 1080px) {
    .slideshow_container {
        max-width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .portfolio_item {
        grid-template-columns: 1fr;
        grid-template-rows: 361px 1fr;
    }

    .portfolio_piece {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
    }

    .portfolio_description {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

@media screen and (max-width: 850px) {
    footer {
        grid-template-columns: 2fr .5fr 50px;
    }

    header {
        grid-template-columns: 2fr .5fr;
    }

    nav {
        display: none;
        grid-template-columns: 1fr;
    }

    .mobile_nav {
        align-self: center;
        display: grid;
        justify-self: center;
    }

    /* dropdown functionality taken from W3Schools */
    .dropbtn {
        background-color: var(--tertiaryColor);
        border: 1px solid var(--secondaryColor);
        color: var(--secondaryColor);
        cursor: pointer;
        font-size: 20px;
        padding: var(--space-sm);
        transition: color 1s, background-color 1s;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: var(--primaryColor);
        color: var(--tertiaryColor);
        cursor: pointer;
    }

    .dropdown {
        display: inline-block;
        float: right;
        position: relative;
    }

    .dropdown-content {
        background-color: var(--tertiaryColor);
        border: 1px solid var(--secondaryColor);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        display: none;
        min-width: 160px;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .dropdown-content a {
        color: var(--secondaryColor);
        display: block;
        font-family: var(--tertiaryFont);
        padding: var(--space-sm);
        text-decoration: none;
    }

    .dropdown-content a:hover {
        background-color: var(--primaryColor);
        color: var(--tertiaryColor);
    }

    .fast_fact_container {
        column-gap: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .25fr 1fr 1fr;
        padding: var(--space-sm);
        row-gap: var(--space-xxl);
    }

    .fast_fact_left_text {
        align-content: center;
        align-items: center;
        display: grid;
        grid-column: 2 / 3;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
    }

    .fast_fact_right {
        align-content: center;
        display: grid;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        grid-template-columns: 1fr 1fr;
    }

    .fast_fact_right_text {
        align-content: center;
        align-items: center;
        display: grid;
        grid-column: 1 / 2;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
    }

    .hero_container {
        column-gap: var(--space-xxl);
        grid-template-columns: 1fr .5fr;
    }

    .show {
        display: block;
    }
}

@media screen and (max-width: 834px) {
    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (min-width: 780px) and (max-width: 1280px) {
    :root {
        --fontSizeH1: clamp(2.6127rem, 0.7377rem + 3.8463vw, 3.8147rem);
        --fontSizeH2: clamp(2.1773rem, 0.8131rem + 2.7983vw, 3.0518rem);
        --fontSizeH3: clamp(1.8144rem, 0.8363rem + 2.0064vw, 2.4414rem);
        --fontSizeH4: clamp(1.512rem, 0.8238rem + 1.4116vw, 1.9531rem);
        --fontSizeH5: clamp(1.26rem, 0.7881rem + 0.968vw, 1.5625rem);
        --fontSizeH6: clamp(1.05rem, 0.738rem + 0.64vw, 1.25rem);
        --fontSizeHero: clamp(3.1353rem, 0.5877rem + 5.2259vw, 4.7684rem);
        --fontSizePg: clamp(0.875rem, 0.68rem + 0.4vw, 1rem);
        --fontSizeSm: clamp(0.7292rem, 0.6187rem + 0.2267vw, 0.8rem);
        --fontSizeXs: clamp(0.6076rem, 0.5572rem + 0.1036vw, 0.64rem);
    }

    .headshot {
        border-radius: clamp(150px, 72px + 10vw, 200px);
        width: clamp(300px, 144px + 20vw, 400px);
    }
}

@media screen and (max-width: 780px) {
    footer {
        grid-template-columns: 1fr 50px;
    }

    lord-icon {
        height: 100px;
        width: 100px;
    }

    #field_email {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #field_fname {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #field_lname {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #field_select {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #field_textarea {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    #form_btns {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .fast_fact_left {
        grid-template-columns: 1fr 2fr;
    }

    .fast_fact_right {
        grid-template-columns: 2fr 1fr;
    }

    .formFields {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr) .5fr;
    }

    .footer_left {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer_left_left_half {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-bottom: var(--space-xs);
    }

    .footer_left_right_half {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .headshot {
        border-radius: clamp(100px, 10.7143px + 17.8571vw, 150px);
        width: clamp(200px, 21.4286px + 35.7143vw, 300px);
    }

    .hero_container {
        grid-template-columns: 1fr;
    }

    .logo_link {
        display: none;
    }

    .logo_link_alt {
        display: block;
    }

    .return_origin_btn lord-icon {
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width: 600px) {
    form {
        margin-bottom: 10%;
    }

    .portfolio_description li, .portfolio_description p {
        width: unset;
    }

    .portfolio_item {
        padding-right: 30px;
    }

    .welcome_msg_lg {
        display: none;
    }

    .welcome_msg_sm {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .copyright {
        font-size: var(--fontSizeSm);
    }

    .branding_alt {
        display: block;
    }

    .branding_main {
        display: none;
    }

    .cs_branding_container {
        grid-template-columns: .25fr 1fr;
        padding-left: 10px;
    }

    .dropbtn {
        padding: 10px;
    }
}

@media screen and (min-width: 500px) and (max-width: 780px) {
    :root {
        --fontSizeH1: clamp(2.2395rem, 0.9065rem + 4.2657vw, 2.986rem);
        --fontSizeH2: clamp(1.8662rem, 0.7554rem + 3.5547vw, 2.4883rem);
        --fontSizeH3: clamp(1.5552rem, 0.6295rem + 2.9623vw, 2.0736rem);
        --fontSizeH4: clamp(1.296rem, 0.5246rem + 2.4686vw, 1.728rem);
        --fontSizeH5: clamp(1.08rem, 0.4371rem + 2.0571vw, 1.44rem);
        --fontSizeH6: clamp(0.9rem, 0.3643rem + 1.7143vw, 1.2rem);
        --fontSizeHero: clamp(2.6874rem, 1.0878rem + 5.1188vw, 3.5832rem);
        --fontSizePg: clamp(0.75rem, 0.3036rem + 1.4286vw, 1rem);
        --fontSizeSm: clamp(0.625rem, 0.253rem + 1.1905vw, 0.8333rem);
        --fontSizeXs: clamp(0.5208rem, 0.2108rem + 0.9921vw, 0.6944rem);
    }
}

@media screen and (max-width: 450px) {
    .fast_fact_container {
        grid-template-rows: 50px 1fr 1fr;
    }

    .fast_fact_right {
        grid-template-columns: 1fr 2fr;
    }

    .fast_fact_right_icons {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .fast_fact_right_text {
        grid-column: 2 / 3;
        justify-items: start;
    }
}

@media screen and (max-width: 400px) {
    .notice_heading lord-icon {
        width: 32px;
    }

    .portfolio_item:last-child {
        margin-bottom: 20%;
    }

    .return_origin_btn lord-icon {
        height: 25px;
        width: 25px;
    }
}

@media screen and (max-width: 360px) {
    form {
        margin-bottom: 30%;
    }

    .portfolio_item:last-child {
        margin-bottom: 30%;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    :root {
        --fontSizeH1: clamp(1.5205rem, 1.07rem + 2.2525vw, 1.7739rem);
        --fontSizeH2: clamp(1.3515rem, 0.9511rem + 2.0023vw, 1.5768rem);
        --fontSizeH3: clamp(1.2014rem, 0.8454rem + 1.7798vw, 1.4016rem);
        --fontSizeH4: clamp(1.0679rem, 0.7515rem + 1.582vw, 1.2458rem);
        --fontSizeH5: clamp(0.9492rem, 0.668rem + 1.4063vw, 1.1074rem);
        --fontSizeH6: clamp(0.8438rem, 0.5938rem + 1.25vw, 0.9844rem);
        --fontSizeHero: clamp(1.7105rem, 1.2037rem + 2.5341vw, 1.9956rem);
        --fontSizePg: clamp(0.75rem, 0.5278rem + 1.1111vw, 0.875rem);
        --fontSizeSm: clamp(0.6667rem, 0.4691rem + 0.9877vw, 0.7778rem);
        --fontSizeXs: clamp(0.5926rem, 0.417rem + 0.8779vw, 0.6914rem);
    }

    lord-icon {
        height: 75px;
        width: 75px;
    }

    .cs_logo {
        width: 90%;
    }

    .fast_fact_left_text {
        justify-items: start;
    }
}

/* specific screen sizes for most common devices */

/*
references:
https://blisk.io/devices
https://gs.statcounter.com/screen-resolution-stats/desktop/worldwide
https://gs.statcounter.com/screen-resolution-stats/tablet/worldwide
https://gs.statcounter.com/screen-resolution-stats/mobile/worldwide
*/

/* desktop: 1920 x 1080 (24.85% market share Sep 2024) */
@media screen and (width: 1920px) {
    :root {
        --fontSizeHero: 5.3rem;
    }

    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 16%;
    }
}

/* 2021 16" MacBook Pro 1728 x 1117 */
@media screen and (width: 1728px) {
    :root {
        --fontSizeH1: 3.5rem;
    }

    div .grecaptcha-badge {
        bottom: 150px !important;
    }
}

/* desktop: 1536 x 864 (11.85% market share Sep 2024) */
@media screen and (width: 1536px) {
    :root {
        --fontSizeH1: 3rem;
        --fontSizeH4: 1.6rem;
        --fontSizeHero: 4.4rem;
    }

    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    lord-icon {
        height: 125px;
        width: 125px;
    }

    .cs_branding_container {
        grid-template-columns: 75px .9fr;
    }

    .cs_logo {
        width: 75px;
    }

    .portfolio_item {
        grid-template-columns: .75fr 1fr;
    }
}

/* desktop: 1440 x 900 (4.63%  market share Sep 2024) */
@media screen and (width: 1440px) {
    :root {
        --fontSizeH1: 2.9rem;
        --fontSizeHero: 3.9rem;
    }

    div .grecaptcha-badge {
        bottom: 120px !important;
    }

    form {
        margin-bottom: 15%;
    }

    .cs_branding_container {
        grid-template-columns: 75px .9fr;
    }

    .cs_logo {
        width: 75px;
    }

    .portfolio_item {
        grid-template-columns: .75fr 1fr;
    }
}

/* tablet: 1366 x 1024 landscape orientation (3.4% market share Sep 2024) */
/* desktop: 1366 x 768 (12.76% market share Sep 2024) */
@media screen and (width: 1366px) {
    :root {
        --fontSizeH1: 2.7rem;
        --fontSizeHero: 3.7rem;
    }

    .cs_branding_container {
        grid-template-columns: 75px .9fr;
    }

    .cs_logo {
        width: 75px;
    }

    .portfolio_item {
        grid-template-columns: .75fr 1fr;
    }
}

@media screen and (width: 1366px) and (height: 1024px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 0;
    }

    .formFields {
        margin-top: 0;
    }
}

@media screen and (width: 1366px) and (height: 768px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }
}

/* desktop: 1280 x 720 (6.37% market share Sep 2024) */
/* tablet: 1280 x 800 (6.4% market share Sep 2024) */
@media screen and (width: 1280px) {
    /* Must override the styling in less specific range based media queries */
    :root {
        --fontSizeH1: 2.5rem !important;
        --fontSizeH4: 1.7rem !important;
        --fontSizeHero: 3.6rem !important;
    }

    lord-icon {
        height: 125px;
        width: 125px;
    }

    .cs_branding_container {
        grid-template-columns: 65px .9fr;
    }

    .cs_logo {
        width: 65px;
    }

    .notice h4 {
        font-size: 2rem;
    }

    .portfolio_item {
        grid-template-columns: .75fr 1fr !important;
    }

    .portfolio_piece {
        max-width: 450px;
    }
}

@media screen and (width: 1280px) and (height: 720px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 11%;
    }
}

/* windows laptop 1280 x 800 */
@media screen and (width: 1280px) and (height: 800px) {
    div .grecaptcha-badge {
        bottom: 90px !important;
    }

    form {
        margin-bottom: 11%;
    }
}

/* 2021 iPad Pro 11 landscape orientation 1194 x 834 */
@media screen and (width: 1194px) {
    :root {
        --fontSizeH1: 2.4rem;
        --fontSizeH4: 1.4rem;
        --fontSizeHero: 3rem;
        --fontSizePg: 1rem;
    }

    div .grecaptcha-badge {
        bottom: 120px !important;
    }

    form {
        margin-bottom: 14.5%;
    }

    lord-icon {
        height: 125px;
        width: 125px;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .hero_container {
        grid-template-columns: 1fr 1fr;
    }

    .notice h4 {
        font-size: 2rem;
    }
}

/* tablet: 1180 X 820 landscape orientation (7.99% market share Sep 2024) */
@media screen and (width: 1180px) {
    :root {
        --fontSizeH1: 2.2rem;
        --fontSizeH4: 1.4rem;
        --fontSizeHero: 3rem;
        --fontSizePg: 1rem;
    }

    div .grecaptcha-badge {
        bottom: 120px !important;
    }

    form {
        margin-bottom: 14.5%;
    }

    lord-icon {
        height: 125px;
        width: 125px;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .hero_container {
        grid-template-columns: 1fr 1fr;
    }

    .notice h4 {
        font-size: 2rem;
    }
}

/* iPad Pro 10 landscape orientation 1112 x 834 */
@media screen and (width: 1112px) {
    :root {
        --fontSizeH1: 1.9rem;
        --fontSizeH4: 1.4rem;
        --fontSizeHero: 3rem;
        --fontSizePg: 1rem;
    }

    div .grecaptcha-badge {
        bottom: 120px !important;
    }

    form {
        margin-bottom: 17.5%;
    }

    lord-icon {
        height: 125px;
        width: 125px;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .hero_container {
        grid-template-columns: 1fr 1fr;
    }

    .notice h4 {
        font-size: 2rem;
    }
}

/* tablet: 1080 x 810 (11.2% market share Sep 2024) */
/* iPad 10 landscape orientation 1080 x 810 */
@media screen and (width: 1080px) {
    :root {
        --fontSizeH1: 2.2rem;
        --fontSizeH4: 1.4rem;
        --fontSizeHero: 4.3rem;
        --fontSizePg: 1rem;
    }

    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    form {
        margin-bottom: 12.5%;
    }

    lord-icon {
        height: 125px;
        width: 125px;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .hero_container {
        grid-template-columns: 1fr 1fr;
    }

    .notice h4 {
        font-size: 2rem;
    }

    .portfolio_description li, .portfolio_description p {
        width: unset;
    }

    .portfolio_item {
        grid-template-columns: 1fr 1.5fr;
    }

    .portfolio_piece {
        width: 85%;
    }
}

/* tablet: 1024 x 1366 (3.4% market share Sep 2024) */
/* tablet: 1024 x 768 landscape orientation (20.09% market share Sep 2024) */
@media screen and (width: 1024px) {
    :root {
        --fontSizeH1: 1.9rem;
        --fontSizeH4: 1.4rem;
        --fontSizeHero: 4.1rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 70.5%;
    }

    lord-icon {
        height: 125px;
        width: 125px;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .hero_container {
        grid-template-columns: 1fr 1fr;
    }

    .notice h4 {
        font-size: 2rem;
    }

    .portfolio_description li, .portfolio_description p {
        width: unset;
    }

    .portfolio_item {
        grid-template-columns: 1fr 1.5fr;
    }

    .portfolio_piece {
        width: 85%;
    }
}

@media screen and (width: 1024px) and (height: 1366px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    .return_origin_btn {
        top: 13%;
    }
}

@media screen and (width: 1024px) and (height: 768px) {
    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    .return_origin_btn {
        top: 20%;
    }
}

/* Google Pixel 8 Pro 998 x 448 landscape orientation */
@media screen and (width: 998px) {
    :root {
        --fontSizeH1: 1.9rem;
        --fontSizeH4: 1.4rem;
        --fontSizeHero: 4.1rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 70.5%;
    }

    lord-icon {
        height: 125px;
        width: 125px;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .hero_container {
        grid-template-columns: 1fr 1fr;
    }

    .notice h4 {
        font-size: 2rem;
    }

    .portfolio_description li, .portfolio_description p {
        width: unset;
    }

    .portfolio_item {
        grid-template-columns: 1fr 1.5fr;
    }

    .portfolio_piece {
        width: 85%;
    }
}

@media screen and (width: 998px) and (height: 448px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* iPhone 15 Plus and 15 Pro Max, iPhone 14 Pro Max 932 x 430 landscape orientation */
@media screen and (width: 932px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 932px) and (height: 430px) {
    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 37%;
    }
}

/* iPhone 14 Plus, iPhone 13 Pro Max, iPhone 12 Pro Max 926 x 428 landscape orientation */
@media screen and (width: 926px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 926px) and (height: 428px) {
    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 35%;
    }
}

/* mobile: 915 x 412 landscape orientation (4.14% market share Sep 2024) */
/* Galaxy S20 Ultra, Google Pixel 8, Google Pixel 7 and 7a, Google Pixel 6 915 x 412 landscape orientation */
@media screen and (width: 915px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 915px) and (height: 412px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* mobile: 896 x 414 landscape orientation (3.8% market share Sep 2024) */
/* iPhone 11 and 11 Pro Max, iPhone XR and XS Max 896 x 414 landscape orientation */
@media screen and (width: 896px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 896px) and (height: 414px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* Google Pixel 6 Pro 892 x 412 landscape orientation */
@media screen and (width: 892px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 892px) and (height: 412px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .copyright {
        font-size: var(--fontSizeXs);
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* mobile: 873 x 393 landscape orientation (5.7% market share Sep 2024) */
@media screen and (width: 873px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 873px) and (height: 393px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .copyright {
        font-size: var(--fontSizeXs);
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* Google Pixel 4 XL 869 x 412 landscape orientation */
@media screen and (width: 869px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 869px) and (height: 412px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .copyright {
        font-size: var(--fontSizeXs);
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* Galaxy S21 Plus, Galaxy S20 Plus 854 x 384 landscape orientation */
@media screen and (width: 854px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 854px) and (height: 384px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .copyright {
        font-size: var(--fontSizeXs);
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* Galaxy Note 5 853 x 480 landscape orientation */
@media screen and (width: 853px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 853px) and (height: 480px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .copyright {
        font-size: var(--fontSizeXs);
    }

    .return_origin_btn {
        top: 32%;
    }
}

/* iPhone 15 and 15 Pro, iPhone 14 Pro 852 x 393 landscape orientation */
@media screen and (width: 852px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 852px) and (height: 393px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .copyright {
        font-size: var(--fontSizeXs);
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* Google Pixel 5 851 x 393 landscape orientation */
@media screen and (width: 851px) {
    :root {
        --fontSizeH1: 1.8rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 851px) and (height: 393px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .copyright {
        font-size: var(--fontSizeXs);
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* Galaxy S9 Plus, Google Pixel 3 XL 846 x 412 landscape orientation */
@media screen and (width: 846px) {
    :root {
        --fontSizeH1: 2.2rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 846px) and (height: 412px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* mobile: 844 x 390 landscape orientation (7.19% market share Sep 2024) */
/* iPhone 14, iPhone 13 and 13 Pro, iPhone 12 and 12 Pro 844 x 390 landscape orientation */
@media screen and (width: 844px) {
    :root {
        --fontSizeH1: 2.2rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 844px) and (height: 390px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 45%;
    }
}

/* iPad Pro 11 834 x 1194 */
/* iPad Pro 10 834 x 1112 */
@media screen and (width: 834px) {
    :root {
        --fontSizeH1: 2.2rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 834px) and (height: 1194px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 15%;
    }
}

@media screen and (width: 834px) and (height: 1112px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 15%;
    }
}

/* Galaxy S24 Plus, Galaxy S23 Plus, Galaxy S22 Plus 832 x 384 landscape orientation */
@media screen and (width: 832px) {
    :root {
        --fontSizeH1: 2.2rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 832px) and (height: 384px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 45%;
    }
}

/* Google Pixel 4 830 x 393 landscape orientation */
@media screen and (width: 830px) {
    :root {
        --fontSizeH1: 2.2rem;
        --fontSizeHero: 3.7rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 67%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 12px;
    }
}

@media screen and (width: 830px) and (height: 393px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 45%;
    }
}

/* Galaxy S24 Ultra, Galaxy S23 Ultra, Galaxy S22 Ultra 824 x 384 landscape orientation */
/* Google Pixel 3a XL, Google Pixel 2 XL 824 x 412 landscape orientation */
@media screen and (width: 824px) {
    :root {
        --fontSizeH1: 2.1rem;
        --fontSizeHero: 3.6rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 59.5%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 65%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .dropbtn {
        padding: 15px;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 824px) and (height: 412px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 45%;
    }
}

@media screen and (width: 824px) and (height: 384px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 45%;
    }
}

/* tablet: 820 x 1180 (7.99% market share Sep 2024) */
@media screen and (width: 820px) {
    :root {
        --fontSizeH1: 2.1rem;
        --fontSizeHero: 3.6rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 59.5%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 65%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .dropbtn {
        padding: 15px;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 820px) and (height: 1180px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 15%;
    }
}

/* iPhone 13 Mini, iPhone 12 Mini, iPhone 11 Pro, iPhone X and XS 812 x 375 landscape orientation */
@media screen and (width: 812px) {
    :root {
        --fontSizeH1: 2.1rem;
        --fontSizeHero: 3.5rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 47.75%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 20px;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 812px) and (height: 375px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* tablet: 810 x 1080 (11.2% market share Sep 2024) */
/* iPad 10 810 x 1080 */
@media screen and (width: 810px) {
    :root {
        --fontSizeH1: 2.1rem;
        --fontSizeHero: 3.5rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 47.75%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 20px;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 810px) and (height: 1080px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 15%;
    }
}

/* Google Pixel 3a 808 x 393 landscape orientation */
@media screen and (width: 808px) {
    :root {
        --fontSizeH1: 2.1rem;
        --fontSizeHero: 3.5rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 47.75%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 20px;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 808px) and (height: 393px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 40%;
    }
}

/* tablet: 800 x 1280 (6.18% market share Sep 2024) */
/* tablet: 1280 x 800 (6.4% market share Sep 2024) */
/* Galaxy S20 and S21 800 x 360 landscape orientation */
@media screen and (width: 800px) {
    :root {
        --fontSizeH1: 2rem;
        --fontSizeHero: 3.3rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 75%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 15px;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 800px) and (height: 1280px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 13%;
    }
}

@media screen and (width: 800px) and (height: 360px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 50%;
    }

    .return_origin_btn lord-icon {
        height: 35px;
        width: 35px;
    }
}

/* Google Pixel 3 786 x 393 landscape orientation */
@media screen and (width: 786px) {
    :root {
        --fontSizeH1: 2rem;
        --fontSizeHero: 3.3rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 75%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 15px;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 786px) and (height: 393px) {
    div .grecaptcha-badge {
        bottom: 65px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 42%;
    }
}

/* Galaxy S24, Galaxy S23, Galaxy S22 780 x 360 landscape orientation */
@media screen and (width: 780px) {
    :root {
        --fontSizeH1: 2rem;
        --fontSizeHero: 3.3rem;
        --fontSizePg: 1rem;
    }

    form {
        margin-bottom: 75%;
    }

    .copyright {
        font-size: var(--fontSizeSm);
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .dropbtn {
        padding: 15px;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 780px) and (height: 360px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 45%;
    }
}

/* tablet: 768 x 1024 (20.09% market share Sep 2024) */
/* iPad Mini 4 768 x 1024 */
/* iPad Pro 9 768 x 1024 */
@media screen and (width: 768px) {
    :root {
        --fontSizeH1: 2rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 17.5%;
    }

    .copyright {
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 60%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 0;
    }

    .return_origin_btn {
        top: 15%;
    }

    .return_origin_btn lord-icon {
        height: 35px;
        width: 35px;
    }
}

/* Galaxy S9, Galaxy S8 740 x 360 landscape orientation */
@media screen and (width: 740px) {
    :root {
        --fontSizeH1: 2rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 17.5%;
    }

    .copyright {
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 60%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 740px) and (height: 360px) {
    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 45%;
    }
}

/* iPhone 8 Plus, iPhone 7 Plus, iPhone 6S Plus 736 x 414 landscape orientation */
@media screen and (width: 736px) {
    :root {
        --fontSizeH1: 2rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 17.5%;
    }

    .copyright {
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 60%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 736px) and (height: 414px) {
    div .grecaptcha-badge {
        bottom: 135px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 37%;
    }
}

/* Google Pixel 2, Google Pixel, Google Pixel XL 732 x 412 landscape orientation */
@media screen and (width: 732px) {
    :root {
        --fontSizeH1: 2rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 17.5%;
    }

    .copyright {
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 60%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 732px) and (height: 412px) {
    div .grecaptcha-badge {
        bottom: 135px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 37%;
    }
}

/* LG G6, OnePlus 5t 720 x 360 landscape orientation */
@media screen and (width: 720px) {
    :root {
        --fontSizeH1: 2rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 17.5%;
    }

    .copyright {
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 60%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 720px) and (height: 360px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 42%;
    }
}

/* iPhone SE 2022, iPhone SE 2020, iPhone 8, iPhone 7, iPhone 6S 667 x 375 landscape orientation */
@media screen and (width: 667px) {
    :root {
        --fontSizeH1: 1.7rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 17.5%;
    }

    .copyright {
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 60%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 667px) and (height: 375px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 10%;
        width: 70%;
    }

    .return_origin_btn {
        top: 37%;
    }
}

/* Galaxy S7, Galaxy S6 and S6 Edge 640 x 360 landscape orientation */
@media screen and (width: 640px) {
    :root {
        --fontSizeH1: 1.7rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 17.5%;
    }

    .copyright {
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 60%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 640px) and (height: 360px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 10%;
        width: 70%;
    }

    .return_origin_btn {
        top: 38%;
    }
}

/* iPhone SE 568 x 320 landscape orientation */
@media screen and (width: 568px) {
    :root {
        --fontSizeH1: 1.6rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 27%;
    }

    .copyright {
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 70%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 568px) and (height: 320px) {
    div .grecaptcha-badge {
        bottom: 90px !important;
    }

    form {
        margin-bottom: 10%;
        width: 70%;
    }

    .return_origin_btn {
        top: 50%;
    }
}

/* Galaxy Note 5 480 x 853 */
@media screen and (width: 480px) {
    :root {
        --fontSizeH1: 2.2rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 27%;
    }

    .copyright {
        padding-left: 8.25%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 90%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 480px) and (height: 853px) {
    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 17.5%;
    }
}

/* Google Pixel 8 Pro 448 x 998 */
@media screen and (width: 448px) {
    :root {
        --fontSizeH1: 2rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 63.5%;
    }

    .copyright {
        padding-left: 8%;
    }

    .cs_branding_container {
        gap: 0;
        grid-template-columns: .15fr .9fr;
        padding-left: var(--space-sm);
    }

    .cs_logo {
        width: 90%;
    }

    .notice_heading lord-icon {
        width: 40px;
    }
}

@media screen and (width: 448px) and (height: 998px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 15%;
    }
}

/* iPhone 15 Plus and 15 Pro Max, iPhone 14 Pro Max 430 x 932 */
@media screen and (width: 430px) {
    :root {
        --fontSizeH1: 1.9rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 53.5%;
    }
}

@media screen and (width: 430px) and (height: 932px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 15%;
    }
}

/* iPhone 14 Plus, iPhone 13 Pro Max, iPhone 12 Pro Max 428 x 926 */
@media screen and (width: 428px) {
    :root {
        --fontSizeH1: 1.9rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 52%;
    }
}

@media screen and (width: 428px) and (height: 926px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 15%;
    }
}

/* mobile: 414 x 896 (3.8% market share Sep 2024) */
/* iPhone 11 and 11 Pro Max, iPhone XR and XS Max 414 x 896 */
/* iPhone 8 Plus, iPhone 7 Plus, iPhone 6S Plus 414 x 736 */
@media screen and (width: 414px) {
    :root {
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 49%;
    }
}

@media screen and (width: 414px) and (height: 896px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 15%;
    }
}

@media screen and (width: 414px) and (height: 736px) {
    div .grecaptcha-badge {
        bottom: 130px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 17.5%;
    }
}

/* mobile: 412 x 915 (4.14% market share Sep 2024) */
/* Galaxy S20 Ultra, Google Pixel 8, Google Pixel 7 and 7a, Google Pixel 6 412 x 915 */
/* Google Pixel 6 Pro 412 x 892 */
/* Google Pixel 4 XL 412 x 869 */
/* Galaxy S9 Plus, Google Pixel 3 XL 412 x 846 */
/* Google Pixel 3a XL, Google Pixel 2 XL 412 x 824 */
/* Google Pixel 2, Google Pixel, Google Pixel XL 412 x 732 */
@media screen and (width: 412px) {
    :root {
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 54%;
    }
}

@media screen and (width: 412px) and (height: 915px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 14.5%;
    }
}

@media screen and (width: 412px) and (height: 892px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 14.5%;
    }
}

@media screen and (width: 412px) and (height: 869px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 15%;
    }
}

@media screen and (width: 412px) and (height: 846px) {
    div .grecaptcha-badge {
        bottom: 90px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 15.5%;
    }
}

@media screen and (width: 412px) and (height: 824px) {
    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

@media screen and (width: 412px) and (height: 732px) {
    div .grecaptcha-badge {
        bottom: 130px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 18%;
    }
}

/* mobile: 393 x 873 (5.7% market share Sep 2024) */
/* iPhone 15 and 15 Pro, iPhone 14 Pro 393 x 852 */
/* Google Pixel 5 393 x 851 */
/* Google Pixel 4 393 x 830 */
/* Google Pixel 3a 393 x 808 */
/* Google Pixel 3 393 x 786 */
@media screen and (width: 393px) {
    :root {
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 46.5%;
    }
}

@media screen and (width: 393px) and (height: 873px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 15%;
    }
}

@media screen and (width: 393px) and (height: 852px) {
    div .grecaptcha-badge {
        bottom: 100px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

@media screen and (width: 393px) and (height: 851px) {
    div .grecaptcha-badge {
        bottom: 90px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

@media screen and (width: 393px) and (height: 830px) {
    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

@media screen and (width: 393px) and (height: 808px) {
    div .grecaptcha-badge {
        bottom: 70px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 17%;
    }
}

@media screen and (width: 393px) and (height: 786px) {
    div .grecaptcha-badge {
        bottom: 60px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 17%;
    }
}

/* mobile: 390 x 844 (7.19% market share Sep 2024) */
/* iPhone 14, iPhone 13 and 13 Pro, iPhone 12 and 12 Pro 390 x 844 */
@media screen and (width: 390px) {
    :root {
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 40%;
    }
}

@media screen and (width: 390px) and (height: 844px) {
    div .grecaptcha-badge {
        bottom: 90px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

/* Galaxy S21 Plus, Galaxy S20 Plus 384 x 854 */
/* Galaxy S24 Plus, Galaxy S23 Plus, Galaxy S22 Plus 384 x 832 */
/* Galaxy S24 Ultra, Galaxy S23 Ultra, Galaxy S22 Ultra 384 x 824 */
@media screen and (width: 384px) {
    :root {
        --fontSizeH1: 1.6rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 35%;
    }
}

@media screen and (width: 384px) and (height: 854px) {
    div .grecaptcha-badge {
        bottom: 90px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

@media screen and (width: 384px) and (height: 832px) {
    div .grecaptcha-badge {
        bottom: 90px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

@media screen and (width: 384px) and (height: 824px) {
    div .grecaptcha-badge {
        bottom: 80px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

/* mobile: 375 x 812 (3.69% market share Sep 2024) */
/* iPhone 13 Mini, iPhone 12 Mini, iPhone 11 Pro, iPhone X and XS 375 x 812 */
/* iPhone SE 2022, iPhone SE 2020, iPhone 8, iPhone 7, iPhone 6S 375 x 667 */
@media screen and (width: 375px) {
    :root {
        --fontSizeH1: 1.6rem !important;
        --fontSizePg: 1rem !important;
    }

    form {
        margin-bottom: 23.5%;
    }
}

@media screen and (width: 375px) and (height: 812px) {
    div .grecaptcha-badge {
        bottom: 65px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

@media screen and (width: 375px) and (height: 667px) {
    div .grecaptcha-badge {
        bottom: 115px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 20%;
    }
}

/* mobile: 360 x 800 (11.13% market share Sep 2024) */
/* Galaxy S21, Galaxy S20 360 x 800 */
/* Galaxy S24, Galaxy S23, Galaxy S22 360 x 780 */
/* Galaxy S9, Galaxy S8 360 x 740 */
/* LG G6, OnePlus 5t 360 x 720 */
/* Galaxy S7, Galaxy S6 and S6 Edge 360 x 640 */
@media screen and (width: 360px) {
    :root {
        --fontSizeH1: 1.5rem !important;
        --fontSizePg: 1rem !important;
    }
}

@media screen and (width: 360px) and (height: 800px) {
    div .grecaptcha-badge {
        bottom: 65px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16%;
    }
}

@media screen and (width: 360px) and (height: 780px) {
    div .grecaptcha-badge {
        bottom: 570px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 16.5%;
    }
}

@media screen and (width: 360px) and (height: 740px) {
    div .grecaptcha-badge {
        bottom: 530px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 17%;
    }
}

@media screen and (width: 360px) and (height: 720px) {
    div .grecaptcha-badge {
        bottom: 500px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 18%;
    }
}

@media screen and (width: 360px) and (height: 640px) {
    div .grecaptcha-badge {
        bottom: 420px !important;
    }

    form {
        margin-bottom: 10%;
    }

    .return_origin_btn {
        top: 20%;
    }
}

/* iPhone SE 320 x 568 */
@media screen and (width: 320px) {
    :root {
        --fontSizeH1: 1.3rem !important;
        --fontSizeHero: 1.6rem !important;
        --fontSizePg: 1rem !important;
    }

    .copyright {
        font-size: var(--fontSizeXs);
    }

    .dropbtn {
        padding: 7px;
    }
}

@media screen and (width: 320px) and (height: 568px) {
    div .grecaptcha-badge {
        bottom: 380px !important;
    }

    form {
        margin-bottom: 20%;
    }

    .return_origin_btn {
        top: 22%;
    }
}