/* CSS goes here, must follow CSS syntax rules */
			
		@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

		@font-face {font-family: 'komika_titleregular';
			src: url('fonts/KomikaTitle-webfont.woff') format('woff');
			font-weight: normal;
			font-style: normal;}

			header {background-color:darkturquoise;
				color:white;}

			header h1 {text-align: center;}

			h2 {text-align:center;
				color:darkgoldenrod;}

			h3 {color:darkgoldenrod;}
			
			nav {background-color: darkturquoise;
				overflow:auto;}
			
			nav a {color:darkgoldenrod;
				text-decoration: none;
				font-size: 17px;
				text-align: center;}
			
			nav a:link, nav a:visited, nav a:active {color:darkgoldenrod;}
			
			nav a:hover {background-color: white;}
			
			nav ul {list-style-type: none;
				overflow: hidden;}
			
			nav li {display:inline;}
			
			body {background-color:cadetblue;}
			
			body p {text-align: center;}

			#container {background-color:lightblue;}	

			main {background-color:#d1e0e0;
				border-width:5px;
				border-color:aliceblue;
				border-style:solid;
				border-radius:10px;}

			footer {background-color:darkturquoise;}

			footer p {text-align:center;}
			
			footer img {display: block;}

			.italicsText {font-style:italic;}

			nav a {font-family: 'komika_titleregular';}

			p, li {font-family:'Courier New', Courier, monospace;
				color:rgb(4, 50, 50);}

			h1, h2, h3 {font-family: 'Gloria Hallelujah', cursive;}

			ul {list-style-image: url(images/koalaIcon.png);
				list-style-position: inside;}

			.firstLetter::first-letter {color:white;
				font-size: xx-large;
				font-weight: bolder;}