/* || site color palette || */
/*||       end color palette         || */
/* || site typography styling || */
@import url("https://use.typekit.net/wbh2fbd.css");
/* ||        end site typography        || */
/* || site-wide styling || */
* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  color: #2a2527;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 75px 1fr 100px;
}

header {
  background-color: #599f9a;
  color: #2a2527;
  display: grid;
  grid-column: 1/13;
  grid-row: 1/2;
  grid-template-columns: 200px 1fr;
}

header > img {
  margin-left: 20px;
  width: 200px;
}

header h1 {
  font-family: "chorine-large", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  margin-left: 40px;
  margin-bottom: 20px;
}

header h2 {
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin-left: 40px;
  margin-bottom: 10px;
}

nav {
  align-content: center;
  background-color: #acc5c4;
  display: grid;
  grid-column: 1/13;
  grid-row: 2/3;
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  padding-left: 0px;
}
nav li {
  text-align: center;
}
nav a[href*=".html"] {
  color: #2a2527;
  text-decoration: none;
}
nav a:hover {
  color: #f9f9f9;
}

main {
  background-color: #F5F5F4;
  border: #3d5254 1px solid;
  display: grid;
  grid-column: 4/10;
  grid-row: 3/4;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main section {
  grid-row: 2/3;
  margin: auto;
}

section p {
  max-width: 70ch;
}

footer {
  background-color: #599f9a;
  display: grid;
  grid-column: 1/13;
  grid-row: 4/5;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

footer img {
  width: 50px;
}

footer p {
  margin-bottom: 5px;
}

footer a {
  text-align: center;
}

/*||       end site-wide styling         || */
/* || utility classes || */
/*||       end utility         || */
/* || media queries || */
/* || @1200px || */
@media only screen and (max-width: 1200px) {
  /* || new styling || */
  header h1 {
    font-size: 3.5rem;
  }
  header h2 {
    font-size: 1.75rem;
  }
  main section {
    padding: 10px;
  }
  /*||       end new styling         || */
}
/*||        end @1200px        || */
/* || @979px || */
@media only screen and (max-width: 979px) {
  /* || new styling || */
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.6rem;
  }
  main {
    grid-column: 3/11;
  }
  main section {
    padding: 15px;
  }
  /*||       end new styling         || */
}
/*||       end @979px         || */
/* || @767px || */
@media only screen and (max-width: 767px) {
  /* || new styling || */
  header h1 {
    font-size: 2.75rem;
    margin-bottom: 15px;
  }
  header h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  nav {
    font-size: 1rem;
  }
  main {
    grid-column: 3/11;
    grid-template-rows: 40% 1fr;
    padding-bottom: 40px;
  }
  /*||       end new styling         || */
}
/*||        end @767px        || */
/* || @480px || */
@media only screen and (max-width: 480px) {
  /* || new styling || */
  #container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px 200px 1fr 100px;
  }
  header h1 {
    font-size: 2rem;
    margin-left: 20px;
  }
  header h2 {
    font-size: 1.2rem;
    margin-left: 20px;
  }
  header > img {
    margin-left: 10px;
  }
  nav {
    font-size: 1.2rem;
    grid-column: 1/7;
  }
  nav ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding-left: 0;
  }
  nav li {
    margin-bottom: 5px;
  }
  main {
    font-size: 0.9rem;
    grid-column: 1/7;
    margin-left: 10px;
    margin-right: 10px;
  }
  /*||       end new styling         || */
}
/*||        end @480px        || */
/*||       end media queries         || */
/* || faq page styling || */
main {
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  justify-items: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

main h3 {
  font-size: 2.5rem;
  grid-column: 1/3;
  grid-row: 1/2;
}

.questions {
  background-color: #3d5254;
  color: #f9f9f9;
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  margin-bottom: 20px;
  width: 100%;
}

.tablinks {
  align-content: center;
  display: grid;
  font-weight: bold;
  justify-content: center;
  margin: 0;
  padding: 32px;
}

.tablinks:hover {
  background-color: #acc5c4;
}

.tablinks.active {
  background-color: #acc5c4;
  border: #2a2527 2px solid;
}

.answers {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 300px);
  height: 100%;
  padding: 0;
  width: 100%;
}

.tabcontent {
  align-content: center;
  background-color: #3d5254;
  border: #2a2527 2px solid;
  color: #f9f9f9;
  display: none;
  justify-content: center;
  padding: 20px;
}

#q1 {
  grid-row: 1/2;
}

#q2 {
  grid-row: 2/3;
}

#q3 {
  grid-row: 3/4;
}

#q4 {
  grid-row: 4/5;
}

#q5 {
  grid-row: 5/6;
}

#q6 {
  grid-row: 6/7;
}

#q7 {
  grid-row: 7/8;
}

#q8 {
  grid-row: 8/9;
}

#q9 {
  grid-row: 9/10;
}

#q10 {
  grid-row: 10/11;
}

#q11 {
  grid-row: 11/12;
}

#q12 {
  grid-row: 12/13;
}

#a1 {
  grid-row: 1/2;
}

#a2 {
  grid-row: 2/3;
}

#a3 {
  grid-row: 3/4;
}

#a4 {
  grid-row: 4/5;
}

#a5 {
  grid-row: 5/6;
}

#a6 {
  grid-row: 6/7;
}

#a7 {
  grid-row: 7/8;
}

#a8 {
  grid-row: 8/9;
}

#a9 {
  grid-row: 9/10;
}

#a10 {
  grid-row: 10/11;
}

#a11 {
  grid-row: 11/12;
}

#a12 {
  grid-row: 12/13;
}

/* ||       end faq styling        || */
/* || media queries || */
/* || @1200px || */
@media screen and (max-width: 1200px) {
  /* || new styling || */
  main {
    grid-column: 3/11;
  }
  main section {
    padding: 0;
  }
  /* ||       end new styling        || */
}
/* ||         end @1200px            || */
/* || @979px || */
@media screen and (max-width: 979px) {
  /* || new styling || */
  main h3 {
    font-size: 2rem;
  }
  main {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* ||       end new styling        || */
}
/* ||         end @979px            || */
/* || @767px || */
@media screen and (max-width: 767px) {
  /* || new styling || */
  .tabcontent {
    font-size: 0.85rem;
  }
  /* ||       end new styling        || */
}
/* ||         end @767px            || */
/* || @480px || */
@media screen and (max-width: 480px) {
  /* || new styling || */
  main {
    grid-column: 1/7;
  }
  .tabcontent {
    font-size: 0.8rem;
  }
  /* ||       end new styling        || */
}
/* ||         end @480px            || */
/* ||           end media queries         ||  */

/*# sourceMappingURL=faq.css.map */
