@import "styles.scss";

/* || index page styling || */
.videoBackground {
  align-items: center;
  background-color: $dark-slate-gray;
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

main h3 {
  align-self: center;
  font-size: 2.5rem;
  grid-row: 1/2;
  justify-self: center;
}

main section {
  grid-row: 3/4;
  margin: auto;
}

main video {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 20px;
  width: 80%;
}

/*||       end index page         || */

/* || media queries || */

/* || @1200px || */
@media only screen and (max-width: 1200px) {
  /* || new styling || */

  main video {
    padding: 10px;
    width: 90%;
  }

  /*||       end new styling         || */
}

/*||        end @1200px        || */

/* || @767px || */
@media screen and (max-width: 767px) {
  main {
    grid-template-rows: .5fr 1fr 1fr;
    padding-bottom: 0;
  }
}

/* ||         end @767px         || */

/*||       end media queries         || */