@import "styles.scss";
/* || form response styling || */
main {
  grid-row: 2/4;
  grid-template-rows: 50px 1fr .5fr 100px 1fr;
  padding: 20px;
}

main p {
  max-width: 70ch;
}

.senderFirstName {
  color: #3D5254;
  font-weight: bold;
  grid-row: 1/2;
  margin-left: 40px;
}

.messageBody {
  grid-row: 2/3;
  justify-self: center;
}

.formInfoHighlight {
  color: #3D5254;
  font-style: italic;
}

blockquote {
  background-color: #F9F9F9;
  border: #2A2527 1px solid;
  border-radius: 15px;
  grid-row: 3/4;
  padding: 10px;
}

.messageSignOff {
  grid-row: 4/5;
  margin-left: 40px;
}

.nextSteps {
  align-items: center;
  display: grid;
  grid-row: 5/6;
  justify-self: center;
}

.signature {
  color: #3D5254;
  font-weight: bold;
}

.headingSm {
  color: #3D5254;
  font-size: large;
  font-weight: bold;
}

/* ||              end form response styling                  || */

/* || media queries || */

/* || @1200px || */
@media screen and (max-width: 1200px) {
  main {
    grid-column: 3/11;

    .messageBody {
      font-size: .9rem;
      line-height: 1.4;
    }

    blockquote {
      font-size: .9rem;
      line-height: 1.4;
    }

    .nextSteps ol {
      font-size: .9rem;
      line-height: 1.4;
    }

    .messageSignOff {
      font-size: .9rem;
      line-height: 1.4;
    }

    .signature {
      font-size: 1rem;
    }
  }
}

/* ||               end @1200px                                 || */

/* || @979px || */
@media screen and (max-width: 979px) {
  .senderFirstName {
    margin-left: 0;
  }

  .messageSignOff {
    margin-left: 0;
  }
}

/* ||               end @979px                                   || */

/* || @767px || */
@media screen and (max-width: 767px) {
  main {
    grid-column: 2/12;
  }

  li {
    margin-bottom: 10px;
  }
}

/* ||               end @767px                                  || */

/* || @480px || */
@media screen and (max-width: 480px) {
  main {
    grid-column: 1/7;
  }

  .senderFirstName {
    font-size: 1rem;
  }
}
/* ||                end @480px                                 || */

/* ||               end media queries                          || */