/* || site color palette || */
/*||       end color palette         || */
/* || site typography styling || */
@import url("https://use.typekit.net/wbh2fbd.css");
/* ||        end site typography        || */
/* || site-wide styling || */
* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  color: #2a2527;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 75px 1fr 100px;
}

header {
  background-color: #599f9a;
  color: #2a2527;
  display: grid;
  grid-column: 1/13;
  grid-row: 1/2;
  grid-template-columns: 200px 1fr;
}

header > img {
  margin-left: 20px;
  width: 200px;
}

header h1 {
  font-family: "chorine-large", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  margin-left: 40px;
  margin-bottom: 20px;
}

header h2 {
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin-left: 40px;
  margin-bottom: 10px;
}

nav {
  align-content: center;
  background-color: #acc5c4;
  display: grid;
  grid-column: 1/13;
  grid-row: 2/3;
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  padding-left: 0px;
}
nav li {
  text-align: center;
}
nav a[href*=".html"] {
  color: #2a2527;
  text-decoration: none;
}
nav a:hover {
  color: #f9f9f9;
}

main {
  background-color: #F5F5F4;
  border: #3d5254 1px solid;
  display: grid;
  grid-column: 4/10;
  grid-row: 3/4;
  grid-template-rows: 0.5fr 1fr 1fr;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section p {
  max-width: 70ch;
}

footer {
  background-color: #599f9a;
  display: grid;
  grid-column: 1/13;
  grid-row: 4/5;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

footer img {
  width: 50px;
}

footer p {
  margin-bottom: 5px;
}

footer a {
  text-align: center;
}

/*||       end site-wide styling         || */
/* || utility classes || */
/*||       end utility         || */
/* || media queries || */
/* || @1200px || */
@media only screen and (max-width: 1200px) {
  /* || new styling || */
  header h1 {
    font-size: 3.5rem;
  }
  header h2 {
    font-size: 1.75rem;
  }
  main section {
    padding: 10px;
  }
  /*||       end new styling         || */
}
/*||        end @1200px        || */
/* || @979px || */
@media only screen and (max-width: 979px) {
  /* || new styling || */
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.6rem;
  }
  main {
    grid-column: 3/11;
  }
  main section {
    padding: 15px;
  }
  /*||       end new styling         || */
}
/*||       end @979px         || */
/* || @767px || */
@media only screen and (max-width: 767px) {
  /* || new styling || */
  header h1 {
    font-size: 2.75rem;
    margin-bottom: 15px;
  }
  header h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  nav {
    font-size: 1rem;
  }
  main {
    grid-column: 3/11;
    grid-template-rows: 40% 1fr;
    padding-bottom: 40px;
  }
  /*||       end new styling         || */
}
/*||        end @767px        || */
/* || @480px || */
@media only screen and (max-width: 480px) {
  /* || new styling || */
  #container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px 200px 1fr 100px;
  }
  header h1 {
    font-size: 2rem;
    margin-left: 20px;
  }
  header h2 {
    font-size: 1.2rem;
    margin-left: 20px;
  }
  header > img {
    margin-left: 10px;
  }
  nav {
    font-size: 1.2rem;
    grid-column: 1/7;
  }
  nav ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding-left: 0;
  }
  nav li {
    margin-bottom: 5px;
  }
  main {
    font-size: 0.9rem;
    grid-column: 1/7;
    margin-left: 10px;
    margin-right: 10px;
  }
  /*||       end new styling         || */
}
/*||        end @480px        || */
/*||       end media queries         || */
/* || form response styling || */
main {
  grid-row: 2/4;
  grid-template-rows: 50px 1fr 0.5fr 100px 1fr;
  padding: 20px;
}

main p {
  max-width: 70ch;
}

.senderFirstName {
  color: #3D5254;
  font-weight: bold;
  grid-row: 1/2;
  margin-left: 40px;
}

.messageBody {
  grid-row: 2/3;
  justify-self: center;
}

.formInfoHighlight {
  color: #3D5254;
  font-style: italic;
}

blockquote {
  background-color: #F9F9F9;
  border: #2A2527 1px solid;
  border-radius: 15px;
  grid-row: 3/4;
  padding: 10px;
}

.messageSignOff {
  grid-row: 4/5;
  margin-left: 40px;
}

.nextSteps {
  align-items: center;
  display: grid;
  grid-row: 5/6;
  justify-self: center;
}

.signature {
  color: #3D5254;
  font-weight: bold;
}

.headingSm {
  color: #3D5254;
  font-size: large;
  font-weight: bold;
}

/* ||              end form response styling                  || */
/* || media queries || */
/* || @1200px || */
@media screen and (max-width: 1200px) {
  main {
    grid-column: 3/11;
  }
  main .messageBody {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  main blockquote {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  main .nextSteps ol {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  main .messageSignOff {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  main .signature {
    font-size: 1rem;
  }
}
/* ||               end @1200px                                 || */
/* || @979px || */
@media screen and (max-width: 979px) {
  .senderFirstName {
    margin-left: 0;
  }
  .messageSignOff {
    margin-left: 0;
  }
}
/* ||               end @979px                                   || */
/* || @767px || */
@media screen and (max-width: 767px) {
  main {
    grid-column: 2/12;
  }
  li {
    margin-bottom: 10px;
  }
}
/* ||               end @767px                                  || */
/* || @480px || */
@media screen and (max-width: 480px) {
  main {
    grid-column: 1/7;
  }
  .senderFirstName {
    font-size: 1rem;
  }
}
/* ||                end @480px                                 || */
/* ||               end media queries                          || */

/*# sourceMappingURL=phpResponse.css.map */
