/* || site color palette || */
$seasalt: #F9F9F9FF;
$verdigris: #599F9AFF;
$ash-gray: #ACC5C4FF;
$raisin-black: #2A2527FF;
$dark-slate-gray: #3D5254FF;
$off-white: #F5F5F4;

/*||       end color palette         || */

/* || site typography styling || */
@import url("https://use.typekit.net/wbh2fbd.css");

@mixin headerFont {
  font-family: "chorine-large", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  margin-left: 40px;
  margin-bottom: 20px;
}

@mixin pageTitleFont {
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin-left: 40px;
  margin-bottom: 10px;
}

@mixin navFont {
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
}

@mixin bodyFont {
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin footerFont {
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .8rem;
}

@mixin labelFont {
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $raisin-black;
}

@mixin inputFont {
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .85rem;
  color: $raisin-black;
}

/* ||        end site typography        || */

/* || site-wide styling || */
* {
  box-sizing: border-box;
}

body {
  background-color: $seasalt;
  color: $raisin-black;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 75px 1fr 100px;
}

header {
  background-color: $verdigris;
  color: $raisin-black;
  display: grid;
  grid-column: 1/13;
  grid-row: 1/2;
  grid-template-columns: 200px 1fr;
}

header > img {
  margin-left: 20px;
  width: 200px;
}

header h1 {
  @include headerFont;
}

header h2 {
  @include pageTitleFont;
}

nav {
  align-content: center;
  background-color: $ash-gray;
  display: grid;
  grid-column: 1/13;
  grid-row: 2/3;
  @include navFont;

  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    padding-left: 0px;
  }

  li {
    text-align: center;
  }

  a[href*=".html"] {
    color: $raisin-black;
    text-decoration: none;
  }

  a:hover {
    color: $seasalt;
  }
}

main {
  background-color: $off-white;
  border: $dark-slate-gray 1px solid;
  display: grid;
  grid-column: 4/10;
  grid-row: 3/4;
  grid-template-rows: .5fr 1fr 1fr;
  margin-bottom: 10px;
  margin-top: 10px;
  @include bodyFont;
}

section p {
  max-width: 70ch;
}

footer {
  background-color: $verdigris;
  display: grid;
  grid-column: 1/13;
  grid-row: 4/5;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  @include footerFont;
}

footer img {
  width: 50px;
}

footer p {
  margin-bottom: 5px;
}

footer a {
  text-align: center;
}

/*||       end site-wide styling         || */

/* || utility classes || */

/*||       end utility         || */

/* || media queries || */

/* || @1200px || */
@media only screen and (max-width: 1200px) {
  /* || new styling || */
  header h1 {
    font-size: 3.5rem;
  }

  header h2 {
    font-size: 1.75rem;
  }

  main section {
    padding: 10px;
  }

  /*||       end new styling         || */
}

/*||        end @1200px        || */

/* || @979px || */
@media only screen and (max-width: 979px) {
  /* || new styling || */
  header h1 {
    font-size: 3rem;
  }

  header h2 {
    font-size: 1.6rem;
  }

  main {
    grid-column: 3/11;
  }

  main section {
    padding: 15px;
  }

  /*||       end new styling         || */
}

/*||       end @979px         || */

/* || @767px || */
@media only screen and (max-width: 767px) {
  /* || new styling || */
  header h1 {
    font-size: 2.75rem;
    margin-bottom: 15px;
  }

  header h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  nav {
    font-size: 1rem;
  }

  main {
    grid-column: 3/11;
    grid-template-rows: 40% 1fr;
    padding-bottom: 40px;
  }

  /*||       end new styling         || */
}

/*||        end @767px        || */

/* || @480px || */
@media only screen and (max-width: 480px) {
  /* || new styling || */
  #container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px 200px 1fr 100px;
  }

  header h1 {
    font-size: 2rem;
    margin-left: 20px;
  }

  header h2 {
    font-size: 1.2rem;
    margin-left: 20px;
  }

  header > img {
    margin-left: 10px;
  }

  nav {
    font-size: 1.2rem;
    grid-column: 1/7;

    ul {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      padding-left: 0;
    }

    li {
      margin-bottom: 5px;
    }
  }

  main {
    font-size: .9rem;
    grid-column: 1/7;
    margin-left: 10px;
    margin-right: 10px;
  }

  /*||       end new styling         || */
}

/*||        end @480px        || */

/*||       end media queries         || */