@import url("https://use.typekit.net/yrs5vjl.css");

$typographyColor: rgba(239, 239, 239, 1);
$typographyHoverColor: #F7F7F7;

@mixin heroText {
  font-family: "meno-banner", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12rem;
  text-align: center;
}

@mixin heroSub {
  font-family: "meno-banner-extra-condensed", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4rem;
  text-align: center;
}

@mixin heroNav {
  font-family: "meno-banner-condensed", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
}

body {
  align-items: center;
  background-image: url("eleganceBackground.png");
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  margin: 0px;
}

h1 {
  border-bottom: $typographyColor solid 3px;
  color: $typographyColor;
  margin-bottom: 2%;
  @include heroText();
}

h2 {
  color: $typographyColor;
  margin-top: 0%;
  @include heroSub();
}

nav {
  align-items: center;
  background-color: rgba(208, 214, 179, 0.25);
  border-right: $typographyColor solid 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;

  ul {
    align-content: space-between;
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
  }

  a {
    color: $typographyColor;
    @include heroNav();
  }

  a:hover {
    color: $typographyHoverColor;
    text-decoration: underline;
  }
}

div {
  margin-left: 15%;
  margin-right: 15%;
  width: 60%;
}

